<%= simple_form_for([@donation, @transport]) do |form| %>
  <div class="row">
    <div class="col-md-3 mb-3">
      <%= form.input :name %>
    </div>
    <div class="col-md-6 mb-3">
      <%= form.input :email %>
    </div>
    <div class="col-md-3 mb-3">
      <%= form.input :phone %>
    </div>
  </div>

  <%= form.button :submit, t('transport.submit') %>
<% end %>
