<h1><%= t '.title' %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= Donation.human_attribute_name :available_from %></th>
      <th><%= Donation.human_attribute_name :source_name %></th>
      <th><%= Donation.human_attribute_name :source_address %></th>
      <th><%= Donation.human_attribute_name :quantity %></th>
      <th><%= Donation.human_attribute_name :food_type %></th>
      <th><%= Donation.human_attribute_name :status %></th>
      <th><%= Transport.human_attribute_name :target_location %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @transports.each do |transport| %>
      <tr>
        <td><%= l transport.donation.available_from %></td>
        <td><%= transport.donation.source_name %></td>
        <td><%= transport.donation.source_address %></td>
        <td><%= transport.donation.quantity %></td>
        <td><%= transport.donation.food_type %></td>
        <td><%= t transport.donation.status, scope: [:donation, :statuses] %></td>
        <td><%= transport.target_location %></td>
        <td><%= link_to t('.details'), transport.donation %></td>
        <td><%= link_to t('.close'), close_transport_path(transport) if transport.donation.can_finish? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
