<%= content_for :title, t('.call_to_action') %>
<h1><%= t('transport.create_new') %></h1>

<%= render 'donations/info', donation: @donation %>

<h2><%= Donation.human_attribute_name(:transporter) %></h2>
<%= render 'form' %>
