<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <%= link_to "BBM - Nightwatch", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to t('.donations'), donations_path, class: 'nav-link' %>
      </li>
    </ul>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to t(".account"), edit_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t(".log_out"), destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to t(".sign_in"), new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t(".sign_up"), new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
