%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Navigáció
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: 'navbar-brand' do
        %span.bbm= "#{t('shared.nav.bbm')}:"
        = t('shared.nav.brand')
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-center
        %li= link_to t('.mission'), '#kuldetesunk'
        %li= link_to t('.how_we_do'), '#hogyan-csinaljuk'
        %li= link_to t('.success_stories'), '#sikertortenetek'
        %li= link_to t('.contact'), '#kapcsolat'
      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li= link_to t("shared.nav.donations"), transports_path, class: 'nav-link'
          %li
            = link_to edit_user_registration_path, class: 'nav-link', title: current_user.name do
              %span.glyphicon.glyphicon-user(aria-hidden="true")
          %li
            = link_to destroy_user_session_path, method: :delete, class: 'nav-link', title: t("shared.nav.log_out") do
              %span.glyphicon.glyphicon-log-out(aria-hidden="true")
      - else
        = link_to t('shared.nav.sign_in'), new_user_session_path, class: 'btn btn-primary navbar-btn pull-right'

%section#start.intro.text-center
  .container.content
    - if flash.any?
      .row
        .col-md-6.col-md-offset-3
          = render partial: "shared/flash_messages", flash: flash
    .row
      .col-md-10.col-md-offset-1
        %h1.motto= t('.motto').html_safe
    .row
      .col-md-6.col-md-offset-3
        %p Segítsünk együtt megmenteni a megmaradt porciókat a kidobástól, és eljuttatni az ételeket rászoruló társainknak, akiknek jól jönne pár finom falat.
        %p
          = link_to t('.how'), '#kuldetesunk', class: 'btn btn-default'
          = link_to t('.join'), '#', class: 'btn btn-primary', :'data-toggle' => 'modal', :'data-target' => '#join'

  = link_to image_tag("icons/arrow_down.svg"), '#kuldetesunk', class: 'go-to-next'
%section#kuldetesunk.our-mission
  .container
    .row
      .col-md-6.col-md-offset-3
        %h2.text-center= t '.mission'
        %hr
        %p.lead
          Az ételmentő csapat étel-adományozókból és önkéntes futárokból áll.
        %p
          Az adományozók még emberi fogyasztásra alkalmas ételeket tudnak felajánlani, melyek valamilyen okból megmaradtak és máskülönben így sajnos a kukába kerülnének.
        %p
          A totális pazarlást megelőzvén önkéntes futáraink szívesen eljuttatják ezeket az adományokat olyan helyekre, olyan rászorulóknak, szervezeteknek és intézményeknek, akiknek nagyon jól jönne pár finom falat.


%section#hogyan-csinaljuk.how-we-do
  .container
    .row
      .col-md-6
        %h2.text-center A mentés
        %ol
          %li
            %h3 Felajánlás
            %p Az adományozó felviszi a rendszerünkbe a felajánlott étel adatait (milyen típusú és mennyiségű adományról van szó), annak pontos átvételi helyét és lehetséges idejét.
            %p Az adományozóinktól kérjük, hogy az adományok csomagolásáról gondoskodjanak a szállíthatóság megkönnyítése érdekében.
            %p Csak az adott napon készített, friss ételeket tudjuk elvinni a rászorulóknak. A fokozottan romlandó (nyers tojásos, majonézes, gombás) ételeket nem szállíthatjuk el.
          %li
            %h3 Átvétel
            %p A futár kiválasztja az adományt, amit el akar juttatni rászorulóknak, és egyeztet az adományozóval az átvétel részleteiről.
          %li
            %h3 Kiszállítás
            %p A futár kiszállítja és átadja az adományt a rászorulóknak, és ezt jelzi a rendszernek.  Amennyiben lehetséges és engedélyt kapunk rá,  fényképekkel is igazoljuk, hogy a szállítás sikeres volt.
            %p Az adományozóktól a rendszerünkben előzetesen kérjük hozzájárulásukat annak érdekében, hogy nemes felajánlásukat publikussá tehessük.
      .col-md-6
        %h2.text-center A mentők
        %ul
          %li
            .icon= image_tag 'icons/food.svg'
            %h3 Adományozók
            %p Az adományozó megmaradt, még emberi fogyasztásra teljes mértékben alkalmas étel adagokat tud felajánlani, a regisztráció után használható rendszerünkben történő rögzítéssel. A rögzített felajánlásokról önkéntes futáraink e-mailes értesítést kapnak, melynek alapján vállalni tudják  az adomány átvételét és kiszállítását a rászorulóknak.
            %p= link_to t('.join_as_donator'), '#', class: 'btn btn-default', :'data-toggle' => 'modal', :'data-target' => '#join'
          %li
            .icon= image_tag 'icons/car.svg'
            %h3 Futárok
            %p A futár a rendszerünkben rözgített adományokból tud válogatni, hogy azokat eljuttassa az általa választott rászorulóknak.
            %p= link_to t('.join_as_transporter'), '#', class: 'btn btn-default', :'data-toggle' => 'modal', :'data-target' => '#join'

%section#sikertortenetek.success-stories
  .container
    .row
      .col-md-12
        %h2.text-center= t '.success_stories'

        - stories = []
        - stories << OpenStruct.new(image_path: 'success_stories/0710PI.jpg', contributor: "Magyar Korfball Szövetség &  Porkoláb Imre, Mudra Gabriella, Jean-Louis Murris", title: "Szendvicsek, saláták és hidegcsomagok a sportolóktól", description: "A budapesti Tüskecsarnokban megrendezett U21 Korfball Világbajnokság szervezőinek hála, július első hetében 5 alkalommal sikerült a sportolóknak készített hidegcsomagokat, szendvicseket, gyümölcsöket és salátát továbbadni rászorulóknak, akik így többször is komplett vacsorához jutottak. Összesen több mint 200 adag ételt mentettünk meg a kidobástól.")
        - stories << OpenStruct.new(image_path: 'success_stories/0701CSE.jpg', contributor: "Chefparade és Kleber & Csiza Ernő, dr. Fehér Judit, Nagy Zoltán, Gild, Jenet László, Oláh Lackó, Farkas Ádám", title: "Jótékony csapatépítések", description: "A Kleber francia gumigyártó cég 7 alkalommal szervezett csapatépítő jótékonysági főzést dolgozóinak a Chefparade főzőiskolában. A csapatok minden alkalommal 60-60 adag finom friss gulyást és meggyes pitét készítettek a Chefparade főzőiskolában. A nagylelkű és előremutató csapatépítésekről különböző intézményekbe szállítottuk a friss vacsorákat.")
        - stories << OpenStruct.new(image_path: 'success_stories/0711CSJ.jpg', contributor: "Anonim felajánló & Csonka Judit, dr. Fehér Judit, Jenet László, Németh Júlia", title: "Finomságok uzsonnára", description: "Egy kedves anonim felajánlónak köszönhetően idén nyáron augusztus végéig hétköznapokon változó mennyiségben, de mindig kiváló minőségű péksüteményeket, szendvicseket, zöldséget és gyümölcsöt vihetünk tovább hajléktalan ellátó helyekre.")
        - stories << OpenStruct.new(image_path: 'success_stories/0706fankok.jpg', contributor: "Apacuka & Oláh Lackó", title: "Esti fánkozás", description: "Július 6-án 100 db fánkot vihettünk a Podmaniczky úti női szállóra, ahol nagyon örültek az esti édességeknek.")
        - stories << OpenStruct.new(image_path: 'success_stories/01_01.jpg', contributor: "Anonim felajánló & Gild", title: "Teljes ebéd az átmeneti szállón", description: "Gild fedőnevű önkéntes futárunk február 16-án 58 doboz vegyes melegételt és süteményt szállított le a BMSZKI Alföldi utcai átmeneti szállására egy kedves - és anonimitást kérő - felajánló jóvoltából.")
        - stories << OpenStruct.new(image_path: 'success_stories/02_01.jpg', contributor: "Anonim felajánló & Várkonyi Beáta", title: "Mindenféle sütemények", description: "Március 19-én Várkonyi Beáta önkéntesünk 200 db finom sütit vitt a Podmaniczky úti Rés Alapítvány női szállójára.")
        - stories << OpenStruct.new(image_path: 'success_stories/03_01.jpg', contributor: "Három Tarka Macska & Laczik Erika", title: "Esti péksütemények", description: "Rendszeresen számíthatunk a Három Tarka Macska Kézműves Pékség felajánlásaira. A nap végén megmaradt pékárut és szendvicseket az esetek többségében a közelben lévő BMSZKI Dózsa György úti komplexébe szállítjuk, ahol mindig jó szívvel fogadják.")

        #carousel-success-stories.carousel.slide(data-ride="carousel" data-type="multi" data-interval="")
          / Indicators
          %ol.carousel-indicators
            - stories.each.with_index do |_, index|
              %li{class: ("active" if index.zero?), "data-slide-to" => index, "data-target" => "#carousel-success-stories"}
          / Slides
          .carousel-inner{:role => "listbox"}
            - stories.each.with_index do |story, index|
              .item{class: ("active" if index.zero?)}
                .col-sm-6.col-md-4
                  .thumbnail
                    = image_tag story.image_path
                    .caption
                      %h3= story.title
                      %p(data-toggle="tooltip" data-placement="top" title="#{story.description}")= story.description
                      %div.byline
                        %hr
                        %p.text-right= story.contributor

          / Controls
          %a.left.carousel-control{"data-slide" => "prev", "data-target" => "#carousel-success-stories", :role => "button"}
            %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
            %span.sr-only= t '.previous'
          %a.right.carousel-control{"data-slide" => "next", "data-target" => "#carousel-success-stories", :role => "button"}
            %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
            %span.sr-only= t '.next'

%section#kapcsolat.contact
  .container
    .row
      .col-md-6.col-md-offset-3
        %h2.text-center= t '.contact'
        %p.text-center
          Ha elakadtál vagy kérdésed merült fel, amire itt nem kaptál választ, akkor keresd Dórit:
          = mail_to 'dori@etelmentes.hu', nil, encode: :javascript

%footer
  .container
    .powered-by
      Powered by
      = link_to 'https://www.facebook.com/EmarsysTechnologiesLtd/', target: '_blank' do
        = image_tag "emarsys.svg", alt: 'Emarsys'
    = link_to image_tag("icons/arrow_up.svg"), '#start', class: 'go-to-top'
    %p
      %span.copyright © 2018 Ételmentők
      %br
      = link_to t('.mission'), '#kuldetesunk'
      = link_to t('.how_we_do'), '#hogyan-csinaljuk'
      = link_to t('.success_stories'), '#sikertortenetek'

#join.modal.fade(aria-labelledby="joinModalLabel" role="dialog" tabindex="-1")
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header.text-center
        %button.close(aria-label="Close" data-dismiss="modal" type="button")
          %span(aria-hidden="true") ×
        %h4#joinModalLabel.modal-title= t 'subscribers.new.title'
      .modal-body
        = t 'subscribers.new.lead'

        %hr

        = simple_form_for(Subscriber.new) do |form|
          = form.input :email
          .text-center
            %button.btn.btn-primary{type: "submit"}= t 'subscribers.form.submit'
