%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to t('.brand'), root_path, class: 'navbar-brand'
    #navbar.collapse.navbar-collapse
      = link_to t('.sign_in'), new_user_session_path, class: 'btn btn-primary navbar-btn pull-right'
      %ul.nav.navbar-nav.navbar-center
        %li= link_to t('.mission'), '#kuldetesunk'
        %li= link_to t('.how_we_do'), '#hogyan-csinaljuk'
        %li= link_to t('.success_stories'), '#sikertortenetek'

%section#start.intro.text-center
  .container.content
    .row
      .col-md-10.col-md-offset-1
        %h1.motto= t('.motto').html_safe
    .row
      .col-md-6.col-md-offset-3
        %p Segítsünk együtt megmenteni a megmaradt porciókat a kidobástól, és eljuttatni az ételeket rászoruló társainknak, akiknek jól jönne pár finom falat.
        %p
          = link_to t('.how'), '#kuldetesunk', class: 'btn btn-default'
          = link_to t('.join'), '#', class: 'btn btn-primary', :'data-toggle' => 'modal', :'data-target' => '#join'

  = link_to image_tag("icons/arrow_down.svg"), '#kuldetesunk', class: 'go-to-next'
%section#kuldetesunk.our-mission
  .container
    .row
      .col-md-6.col-md-offset-3
        %h2.text-center= t '.mission'
        %hr
        %p.lead
          A ételmentők étel-adományozókból és önkéntes futárokból áll.
        %p
          Az adományozók fel tudnak ajánlani még teljes mértékben emberi fogyasztásra alkalmas ételeket, amik valamilyen okból megmaradtak—és így sajnos kidobásra kerülnének.
        %p
          A totális pazarlást megelőzvén önkéntes kiszállítóink szívesen eljuttatják ezeket a megmaradt ételeket olyan helyekre, olyan rászorulóknak, szervezeteknek és intézményeknek, akiknek nagyon jól jönne pár finom falat.


%section#hogyan-csinaljuk.how-we-do
  .container
    .row
      .col-md-6
        %h2.text-center A mentés
        %ol
          %li
            %h3 Felajánlás
            %p Az adományozó felviszi a rendszerünkbe a felajánlott étel adatait, annak átvételi helyét és lehetséges idejét.
          %li
            %h3 Átvétel
            %p A futár kiválasztja az adományt, amit el akar juttatni rászorulóknak, és egyeztet az adományozóval az átvétel részleteiről.
          %li
            %h3 Kiszállítás
            %p A futár kiszállítja és átadja az adományt a rászorulóknak, és ezt jelzi a rendszernek — lehetőleg fényképpel, hogy sikersztori legyen a misszióból!
      .col-md-6
        %h2.text-center A mentők
        %ul
          %li
            .icon= image_tag 'icons/food.svg'
            %h3 Adományozók
            %p Az adományozó megmaradt, még emberi fogyasztásra teljes mértékben alkalmas étel adagokat tud felajánlani, amit a rendszerünkbe felvéve futárok fognak átvenni és kiszállítani rászorulóknak.
            %p= link_to t('.join_as_donator'), '#', class: 'btn btn-default', :'data-toggle' => 'modal', :'data-target' => '#join'
          %li
            .icon= image_tag 'icons/car.svg'
            %h3 Futárok
            %p A futár a rendszerünkbe bekerült adományokból tud válogatni, hogy azokat eljuttassa az általa választott rászorulóknak.
            %p= link_to t('.join_as_transporter'), '#', class: 'btn btn-default', :'data-toggle' => 'modal', :'data-target' => '#join'

%section#sikertortenetek.success-stories
  .container
    .row
      .col-md-12
        %h2.text-center Sikeres mentések

        .row
          .col-sm-6.col-md-4
            .thumbnail
              = image_tag 'success_stories/01_01.jpg'
              .caption
                %h3 Desszertezés a Dózsa György úton
                %p
                  110 adag ételt mentettünk a Farm Gaztrobárból, amihez desszert is járt.
                  A Dózsa György úti hajléktalanszállón örültek az adományoknak.
                %div.byline
                  %hr
                  %p.text-right Tóth Géza & Szekeres Eszter
          .col-sm-6.col-md-4
            .thumbnail
              = image_tag 'success_stories/02_01.jpg'
              .caption
                %h3 Friss péksütik a Tarka Macskából
                %p
                  Három 60 literes zsákot töltött meg a 3 Tarka Macska Pékség, friss, de holnap már nem eladható,
                  első osztályú péksüteményekkel. A felajánlást az Oltalom Egyesület éjjeli szállójára vittük.  
                %div.byline
                  %hr
                  %p.text-right Tóth Géza & Szekeres Eszter
          .col-sm-6.col-md-4
            .thumbnail
              = image_tag 'success_stories/03_01.jpg'
              .caption
                %h3 Igazi magyar lakoma
                %p
                  Hatvan adag székelykáposztát ajánlottak fel kenyérrel, amit a Rés Alapítvány Női Éjjeli
                  menedékhelyére szállítottunk. Ma pazar friss meleg vacsorát adhattunk.
                %div.byline
                  %hr
                  %p.text-right Tóth Géza & Szekeres Eszter
          -#.col-sm-6.col-md-4
          -#  .thumbnail
          -#    = image_tag 'success_stories/04_01.jpg'
          -#    .caption
          -#      %h3
          -#      %p
          -#        Forgatásról megmaradt 25 kg friss gyümölcs. Nem hagytuk kárba veszni, a Rés Alapítvány
          -#        Női Éjjeli menedékhelyére szállítottuk.  
          -#      %hr
          -#      %p.text-right Tóth Géza & Szekeres Eszter

%footer
  .container
    .designed-by
      Design by
      = link_to 'norb.co', 'http://norb.co/'
    = link_to image_tag("icons/arrow_up.svg"), '#start', class: 'go-to-top'
    %p
      %span.copyright © 2018 Ételmentők
      %br
      = link_to t('.mission'), '#kuldetesunk'
      = link_to t('.how_we_do'), '#hogyan-csinaljuk'
      = link_to t('.success_stories'), '#sikertortenetek'
      = link_to t('.contact'), '#kapcsolat'

#join.modal.fade(aria-labelledby="joinModalLabel" role="dialog" tabindex="-1")
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header.text-center
        %button.close(aria-label="Close" data-dismiss="modal" type="button")
          %span(aria-hidden="true") ×
        %h4#joinModalLabel.modal-title= t 'subscribers.new.title'
      .modal-body
        = t 'subscribers.new.lead'

        %hr

        = simple_form_for(Subscriber.new) do |form|
          = form.input :email
          .text-center
            %button.btn.btn-primary{type: "submit"}= t 'subscribers.form.submit'
