.row
  - donations.each do |donation|
    .col-md-3.col-sm-6
      .panel.panel-default
        .panel-body
          %p
            = "#{t '.food_type'}:"
            = link_to donation.food_type, donation

          %p
            = "#{t '.source_address'}:"
            = link_to donation.source_address, "https://maps.google.com/?q=#{donation.source_address}", target: '_blank'

          %p
            = "#{t '.available_to'}:"
            = l donation.available_to, format: :default

          .text-center
            - transport = current_user.transports.where(donation: donation).first
            - case
            - when donation.can_assign?
              = link_to t('.transport'), new_donation_transport_path(donation), class: 'btn btn-success'
            - when transport && donation.can_cancel?
              = link_to t('.cancel'), cancel_transport_path(transport), method: :delete, class: 'btn btn-warning'
            - when donation.assigned?
              %span.btn.btn-default= t('.assigned')
