%h2= t '.my_transports'
= render 'cards', donations: @my_transports

%br/

%h2= t '.available_donations'
= render 'cards', donations: @available_donations

%br/

%h2= t '.donations_assigned_to_others'
= render 'cards', donations: @donations_assigned_to_others
