<p id="notice"><%= notice %></p>

<h1>Donations</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= Donation.human_attribute_name :contact_name %></th>
      <th><%= Donation.human_attribute_name :source_name %></th>
      <th><%= Donation.human_attribute_name :source_address %></th>
      <th><%= Donation.human_attribute_name :quantity %></th>
      <th><%= Donation.human_attribute_name :food_type %></th>
      <th><%= Donation.human_attribute_name :status %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.contact_name %></td>
        <td><%= donation.source_name %></td>
        <td><%= donation.source_address %></td>
        <td><%= donation.quantity %></td>
        <td><%= donation.food_type %></td>
        <td><%= t donation.status, scope: [:donation, :statuses] %></td>
        <td><%= link_to 'Assign', new_donation_transport_path(donation) %></td>
        <td><%= link_to 'Show', donation %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Donation', new_donation_path, class: "btn btn-primary" %>
