<p id="notice"><%= notice %></p>

<p>
  <strong>Source name:</strong>
  <%= @donation.source_name %>
</p>

<p>
  <strong>Source address:</strong>
  <%= @donation.source_address %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @donation.quantity %>
</p>

<p>
  <strong>Food type:</strong>
  <%= @donation.food_type %>
</p>

<p>
  <strong>Anonymous:</strong>
  <%= @donation.anonymous %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @donation.contact_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @donation.status %>
</p>

<%= link_to 'Back', donations_path %>
