<p id="notice"><%= notice %></p>
<p id="error"><%= flash[:alert] %></p>

<p>
  <strong><%= Donation.human_attribute_name(:source_name) %>:</strong>
  <%= @donation.source_name %>
</p>

<p>
  <strong><%= Donation.human_attribute_name(:source_address) %>:</strong>
  <%= @donation.source_address %>
</p>

<p>
  <strong><%= Donation.human_attribute_name(:quantity) %>:</strong>
  <%= @donation.quantity %>
</p>

<p>
  <strong><%= Donation.human_attribute_name(:food_type) %>:</strong>
  <%= @donation.food_type %>
</p>

<p>
  <strong><%= Donation.human_attribute_name(:anonymous) %>:</strong>
  <%= @donation.anonymous %>
</p>

<p>
  <strong><%= Donation.human_attribute_name(:contact_name) %>:</strong>
  <%= @donation.contact_name %>
</p>

<p>
  <strong><%= Donation.human_attribute_name(:status) %>:</strong>
  <%= @donation.status %>
</p>

<p>
  <strong><%= Donation.human_attribute_name(:transporter) %>:</strong>
  <% if transport = @donation.transports.first %>
    <%= transport.name %>
  <% else %>
    -
  <% end %>
</p>

<%= link_to t('back'), donations_path %>
