- status = ::I18n.t @donation.status, scope: [:posts, :group_message, :statuses]
- message = ::I18n.t 'posts.group_message.subject', qty: @donation.quantity, food: @donation.food_type
%h3
  = status + ":"
  = link_to message, url_for(@donation)

%h4= ::I18n.t('posts.group_message.available') + ":"
%p
  = @donation.source_name
  %br
  = @donation.source_address
  %br
  = "#{I18n.l @donation.available_from} - #{I18n.l @donation.available_to}"

- unless @donation.comment.blank?
  %p
    = Donation.human_attribute_name(:comment) + ":"
    = @donation.comment

- if @donation.reported?
  = link_to ::I18n.t('donation.mailer.created_notification.call_to_action'), new_donation_transport_url(@donation)
