= render partial: 'donation'

= ::I18n.t('posts.group_message.available') + ":"
= @donation.source_name
= @donation.source_address
= "#{I18n.l @donation.available_from} - #{I18n.l @donation.available_to}"
= "\n"

- unless @donation.comment.blank?
  = Donation.human_attribute_name(:comment) + ":"
  = @donation.comment

- if @donation.reported?
  = ::I18n.t('donation.mailer.created_notification.call_to_action') + ":"
  = new_donation_transport_url(@donation)
