<h2><%= t ".header" %></h2>

<% subscriber = Subscriber.where(id: params["subscriber_id"]).first %>

<%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: {method: :post} do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :name %>
  <%= f.input :phone %>
  <%= f.input :email, required: true, input_html: {value: subscriber&.email || ""} %>

  <%= f.button :submit, t(".submit_button") %>
<% end %>
