<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body id="page-top">

<!--
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">ételmentők</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#mission">Küldetésünk</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#process">Hogyan csináljuk</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#success-stories">Sikertörténetek</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto mb-4">
          <h1>A kuka <u>soha</u> nem éhes -<br>de van sok ember aki igen.</h1>
        </div>
        <div class="col-lg-6 mx-auto">
          <p class="mb-4">
            Segítsünk együtt megmenteni a megmaradt porciókat a kidobástól, és eljuttatni az ételeket rászoruló társainknak, akiknek jól jönne pár finom falat.
          </p>
          <a class="btn btn-default btn-lg js-scroll-trigger mr-4" href="#process">Hogyan?</a>
          <a class="btn btn-primary btn-lg" href="#">Csatlakozok</a>
        </div>
      </div>
    </div>
  </header>

  <section class="bg-primary" id="mission">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mx-auto">
            <h2 class="section-heading text-center">Küldetésünk</h2>
            <hr>
            <p class="mb-4 h3">
              A ételmentők étel-adományozókból és önkéntes futárokból áll.
            </p>
            <p class="mb-4">
              Az adományozók fel tudnak ajánlani még teljes mértékben emberi fogyasztásra alkalmas ételeket, amik valamilyen okból
              megmaradtak—és így sajnos kidobásra kerülnének.
            </p>
            <p class="mb-4">
              A totális pazarlást megelőzvén önkéntes kiszállítóink szívesen eljuttatják ezeket a megmaradt ételeket olyan helyekre,
              olyan rászorulóknak, szervezeteknek és intézményeknek, akiknek nagyon jól jönne pár finom falat.
            </p>
          </div>
        </div>
      </div>
    </section>
-->

    <header>
      <%= render 'shared/nav' %>
    </header>

    <main id="main" class="container">
      <%= render partial: "shared/flash_messages", flash: flash %>

      <%= yield %>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted"><%= t('donation.submit_manually') %></span>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
